body { background-color:#ADADAD }


div {
	display: inline-block;
	line-height: 31px;
}

input[type="text"],input[type="password"] {
	background-color: #E0E0E0;
	border: 1px solid #040303;
	margin: 5px;
}


input:focus[type="text"],input:focus[type="password"]  {
	background-color: #F5F5F5;
	border: 1px solid #040303;
	margin: 5px;
}
