body { background-color:#ADADAD; }


.table-row {
	clear: both;
}

.tags {
	margin: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

label {
	float:left;
	width:40px;
}

input {
	background-color: #E0E0E0;
	border: 1px solid #040303;
	margin: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
	width: 500px;
	
}

input[type="checkbox"] {
	float: none;
	width: 20px;
}

input:focus {
	background-color: #F5F5F5;
}


textarea {
	background-color: #E0E0E0;
	border: 1px solid #040303;
	margin: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
}


textarea:focus {
	background-color: #FAFAFA;
}
